@page "/posts"
@using MyDevLog.API.DTOs
@using MyDevLog.Components.Shared
@using MyDevLog.Data
@inject HttpClient Http


<div class="main-container">

    <NavBar />

    <div class="all-posts-container">
        <h1 class="all-posts-title">All Posts</h1>

        @if (allPosts == null)
        {
            <p><em>Loading posts...</em></p>
        }
        else
        {
            <div class="posts-grid">
                @foreach (var post in allPosts)
                {
                    <a href="/post/@post.Id" class="post-card-link">
                        <div class="post-card glass-effect">
                            <div class="post-card-content">
                                <h4>@post.Title</h4>
                                <p>@post.Summary</p>
                            </div>
                        </div>
                    </a>
                }
            </div>
        }
    </div>
</div>



@code {
    private PostSummaryDTO[]? allPosts;
    private readonly string ApiBaseUrl = "http://localhost:5023";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            allPosts = await Http.GetFromJsonAsync<PostSummaryDTO[]>($"{ApiBaseUrl}/api/posts");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching posts: {ex.Message}");
        }
    }
}