@page "/"
@using MyDevLog.Components.Shared

<div class="main-container">
    <NavBar />

    <div class=" fade-in-up">
        <HeroSection />
    </div>

    <div class="fade-in-up delay-1">
        <LatestPosts />
    </div>
</div>